*{
    box-sizing:border-box;
}
body{
    background-color: #2E4540;
    margin: 0;
    padding: 0;
}
.head{
 color:white;
font-size:2.5em;
text-align:center;
margin-top:10%;}
.parent{
  width: 65%;
  max-height: 60vh;
  margin:20px auto;
  background: rgba(128, 128, 128, 0.2); /* transparent grey */
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
  padding-block:40px;

}
.input{
width:50%;
min-height:50px;
border-radius:10px;
 outline:none;
 padding-inline:0.60rem;
   border:1px solid black;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  gap:20px;
  height:15vh;
  margin-top:20px;
  width:50%;
}
.btn{
  width:20%;
  padding:0.90rem;
  color:#000;
  background-color: #f8ebabd4;
  border-radius: 10px;
  height:8vh;
  font-weight:bold;
  border:1px solid #1D2128;
  margin-top:30px;
}
.para{
  width:60vw;
  font-size:1.60em;
  font-weight:500;
  text-align: center;
  color:#C9CAAC;
}
.image{
  width:10%;
  max-width:40%;
}
.image img{
  width:100%;
}
.select{
  width:12vw;
  max-width:50vw;
  height:5vh;
  max-height:10vh;
  padding:0.30rem;
  border:1px solid black;
  border-radius:5px;
  background-color: #eee;
  display:flex;
  justify-content: space-between;
  align-items: center;

}
.select img{
  width:1vw;
}
.dropdown{
  width:11vw;
  max-height:20vh;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius:10px;
  overflow: auto;
  margin-top:1px;
  cursor:pointer;
}
.dropdown ul{
  list-style: none;
  padding: 0;
  margin: 0;

}
.dropdown li{
  list-style: none;
  padding-inline:0.90rem;
  padding-block:0.20rem;
}
.box{
  z-index: 2;
}
.container{
  display: flex;
}
/*mobile responsive
@media(max-width:550px){
  .parent{
  width: 85vw;
  max-height: 70vh;
  }
  .input{
width:80vw;
min-height:50px;
  }
  .wrapper{
  margin-inline:10px;

  
}
.select{
  width:30vw;
  height:9vh;

}
.btn{
  width:25vw;
  height:10vh;
}
}*/
@media(max-width:1000px){
  
  .input{
width:80%;
margin-top:20px;
  }
.wrapper{
width:70%;
}
.select{
  width:15vw;
  height:8vh;
}
.btn{
  width:25vw;
  height:10vh;
}

}